<!-- advertisement section -->
<section class="section">
  <div class="container">
    <div class="contact-us-container">
      <h2 class="visually-hidden">Advartisement</h2>
      <p class="advertisement-description">
        Choose
        <span class="advertisement-description-text-item">your story</span>,
        making every moment unique. Time is your style, and we reveal it.
      </p>
      <a class="advertisement-link-btn" href="#"
        ><button
          class="advertisement-btn"
          type="button"
          aria-label="Button with text Contact Us"
        >
          Contact Us
        </button></a
      >
    </div>
  </div>
</section>
<!-- /advertisement section -->
