<section class="advertisement-section">
    <div class="container">
      <div class="advertisement-container">
        <h2 class="visually-hidden">Advertisement</h2>
        <p class="advertisement-description">
          Choose
          <span class="advertisement-description-text-item">your story</span>,
          making every moment unique. Time is your style, and we reveal it.
        </p>
        <a
          class="advertisement-link-btn"
          href="#contactus"
          aria-label="Button with text Contact Us"
        >
          Contact Us
        </a>
      </div>
    </div>
  </section>