<section class="catalog-section" id="catalog">
    <div class="container">
      <h2 class="title-catalog">Catalog</h2>
      <ul class="menu-cards">
        <li class="page-title-catalog">
          <div class="catalog-picture">
            <picture>
              <source
                srcset="
                  ./img/catalog/garminfenix7xprosapphirsolar-min.png    1x,
                  ./img/catalog/garminfenix7xprosapphirsolar@2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/garminfenix7xprosapphirsolar-laptop-min.png    1x,
                  ./img/catalog/garminfenix7xprosapphirsolar-laptop@2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/garmin-mobile1-min.png   1x,
                  ./img/catalog/garmin-mobile12x-min.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="catalog-img"
                src="./img/catalog/garmin-mobile1-min.png"
                alt="Garmin Fenix 7X Pro Sapphire Solar"
              />
            </picture>
          </div>
          <div class="cards-conteiner">
            <h3 class="name">Garmin Fenix 7X Pro Sapphire Solar</h3>
            <p class="name-text">€500</p>
          </div>
        </li>
        <li class="page-title-catalog">
          <div class="catalog-picture">
            <picture>
              <source
                srcset="
                  ./img/catalog/garminmarqathlete-min.png    1x,
                  ./img/catalog/garminmarqathlete@2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/garminmarqathlete-laptop-min.png    1x,
                  ./img/catalog/garminmarqathlete-laptop@2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/garminmarqathlete-mobile-min.png    1x,
                  ./img/catalog/garminmarqathlete-mobile@2x-min.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="catalog-img"
                src="./img/catalog/garminmarqathlete-mobile-min.png"
                alt="Garmin Marq Athlete "
              />
            </picture>
          </div>
          <div class="cards-conteiner">
            <h3 class="name">Garmin Marq Athlete</h3>
            <p class="name-text">€450</p>
          </div>
        </li>
        <li class="page-title-catalog">
          <div class="catalog-picture">
            <picture>
              <source
                srcset="
                  ./img/catalog/garmindescentmk1-min.png    1x,
                  ./img/catalog/garmindescentmk1@2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/garmindescentmk1-laptop-min.png    1x,
                  ./img/catalog/garmindescentmk1-laptop@2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/garmindescentmk1-mobile-min.png    1x,
                  ./img/catalog/garmindescentmk1-mobile@2x-min.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="catalog-img"
                src="./img/catalog/garmindescentmk1-mobile-min.png"
                alt="Garmin D2 Delta PX"
              />
            </picture>
          </div>
          <div class="cards-conteiner">
            <h3 class="name">Garmin Descent MK1</h3>
            <p class="name-text">€680</p>
          </div>
        </li>
        <li class="page-title-catalog">
          <div class="catalog-picture">
            <picture>
              <source
                srcset="
                  ./img/catalog/garmind2deltapx-min.png    1x,
                  ./img/catalog/garmind2deltapx@2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/garmind2deltapx-laptop-min.png    1x,
                  ./img/catalog/garmind2deltapx-laptop@2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/garmind2deltapx-mobile-min.png    1x,
                  ./img/catalog/garmind2deltapx-mobile@2x-min.png 2x
                "
                media="(max-width: 767px)"
              />
              <img class="catalog-img"
                src="./img/catalog/garmind2deltapx-mobile-min.png"
                alt="Garmin Fenix 6 Pro Solar"
              />
            </picture>
          </div>
          <div class="cards-conteiner">
            <h3 class="name">Garmin D2 Delta PX</h3>
            <p class="name-text">€380</p>
          </div>
        </li>
        <li class="page-title-catalog mobile-none">
          <div class="catalog-picture">
            <picture>
              <source
                srcset="
                  ./img/catalog/garminfenix6prosolar-min.png    1x,
                  ./img/catalog/garminfenix6prosolar@2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/garminfenix6prosolar-laptop-min.png    1x,
                  ./img/catalog/garminfenix6prosolar-laptop@2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <img class="catalog-img"
                src="./img/catalog/garminfenix6prosolar-laptop.jpg"
                alt="Garmin Fenix 6 Pro Solar"
              />
            </picture>
          </div>
          <div class="cards-conteiner">
            <h3 class="name">Garmin Fenix 6 Pro Solar</h3>
            <p class="name-text">€400</p>
          </div>
        </li>
        <li class="page-title-catalog mobile-none">
          <div class="catalog-picture">
            <picture>
              <source
                srcset="
                  ./img/catalog/tubewatchs42datesteelwithblackcase-min.png    1x,
                  ./img/catalog/tubewatchs42datesteelwithblackcase@2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/tubewatchs42datesteelwithblackcase-laptop-min.png    1x,
                  ./img/catalog/tubewatchs42datesteelwithblackcase-laptop@2x-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <img class="catalog-img"
                src="./img/catalog/tubewatchs42datesteelwithblackcase-laptop.jpg"
                alt="Tube Watch S42 Date Steel With Black Case"
              />
            </picture>
          </div>
          <div class="cards-conteiner">
            <h3 class="name">Tube Watch S42 Date Steel With Black Case</h3>
            <p class="name-text">€395</p>
          </div>
        </li>
      </ul>
      <button class="catalog-btn" type="button">Show more</button>
    </div>
  </section>