<header class="header-section">
  <div class="container">
    <div class="header-mobile-wrap">
      <a class="header-logo" href="./index.html">watchcharm</a>
      <button class="header-menu-btn js-open-menu" type="button">
        <svg class="header-menu-icon" width="34" height="34">
          <use href="./img/symbol-defs.svg#icon-Icon"></use>
        </svg>
      </button>
    </div>
    <div class="header-menu js-menu-container">
      <button class="header-menu-close js-close-menu" type="button">
        <svg class="header-close-icon" width="34" height="34">
          <use href="./img/symbol-defs.svg#icon-x"></use>
        </svg>
      </button>
      <nav class="header-nav">
        <ul class="header-nav-item">
          <li class="header-nav-list">
            <a class="header-nav-link active-link" href="#">Home</a>
          </li>
          <li class="header-nav-list">
            <a class="header-nav-link" href="#">About Us</a>
          </li>
          <li class="header-nav-list">
            <a class="header-nav-link" href="#">Catalog</a>
          </li>
          <li class="header-nav-list">
            <a class="header-nav-link" href="#">Sale</a>
          </li>
          <li class="header-nav-list">
            <a class="header-nav-link" href="#">Reviews</a>
          </li>
          <li class="header-nav-list">
            <a class="header-nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div class="header-social-wrap">
        <ul class="header-social-item">
          <li class="header-social-list">
            <a
              class="header-social-link"
              target="_blank"
              href="https://www.facebook.com/goITclub/"
            >
              <svg width="34" height="34">
                <use href="./img/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="header-social-list">
            <a
              class="header-social-link"
              target="_blank"
              href="https://www.instagram.com/goitclub/"
            >
              <svg width="34" height="34">
                <use href="./img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-social-list">
            <a
              class="header-social-link"
              target="_blank"
              href="https://www.youtube.com/c/GoIT"
            >
              <svg width="34" height="34">
                <use href="./img/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
