<section class="section">
  <div class="container hero-section">
    <div class="hero-title-container">
      <div class="hero-title">
        <h1 class="hero-title-name">
          Welcome to our <span class="hero-title-name-blue">collection</span> of
          premium watches
        </h1>
        <p class="hero-title-about">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-reviews-scroll">
        <picture class="hero-reviews-photo">
          <source
            srcset="
              ./img/hero-img/deskt-reviews-hero.png    1x,
              ./img/hero-img/deskt-reviews-hero@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/hero-img/tablet-reviews-hero.png    1x,
              ./img/hero-img/tablet-reviews-hero@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/hero-img/mob-reviews-hero.png    1x,
              ./img/hero-img/mob-reviews-hero@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/hero-img/mob-reviews-hero.png" alt="reviews photo" />
        </picture>
        <a class="hero-scroll-down" href="#footer">Scroll down</a>
      </div>
    </div>
    <div class="hero-title-image">
      <picture class="hero-title-image-jpg">
        <source
          srcset="
            ./img/hero-img/deskt-hero-watch.jpg    1x,
            ./img/hero-img/deskt-hero-watch@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hero-img/tablet-hero-watch.jpg    1x,
            ./img/hero-img/tablet-hero-watch@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/hero-img/mob-hero-watch.jpg    1x,
            ./img/hero-img/mob-hero-watch@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img src="./img/hero-img/mob-hero-watch.jpg" alt="watch" />
      </picture>
    </div>
  </div>
</section>
