<section class="section">
  <div class="container">
    <div class="hero-title">
      <h1 class="hero-title-name">
        Welcome to our collection of premium watches
      </h1>
      <p class="hero-title-about">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-reviews-scroll">
      <ul class="hero-reviews-photo">
        <li class="hero-photo-img">
          <picture>
            <source srcset="#" />
            <img src="#" alt="Jesica Swon" width="44" height="44" />
          </picture>
        </li>
        <li class="hero-photo-img">
          <picture>
            <source srcset="#" />
            <img src="#" alt="John Wax" width="44" height="44" />
          </picture>
        </li>
        <li class="hero-photo-img">
          <picture>
            <source srcset="#" />
            <img src="#" alt="Amelia Clark" width="44" height="44" />
          </picture>
        </li>
      </ul>
      <a class="hero-scroll-down" href="#">Scroll down</a>
    </div>
    <div class="hero-title-image">
      <picture>
        <source srcset="#" />
        <img src="#" alt="watch" width="335" height="366" />
      </picture>
    </div>
  </div>
</section>
