<section class="reviews"  id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-img"
          src="./img/reviews-img/john-reviews.png"
          alt="Mark Guerrero"
          srcset="./img/reviews-img/john-reviews.png 1x,
          ./img/reviews-img/john-reviews@2x.png 2x"
          width="56"
          height="56"
        />
        <p class="reviews-name">John Wax</p>
        <p class="reviews-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-img"
          src="./img/reviews-img/victoria-reviwes.png"
          alt="Mark Guerrero"
          srcset="./img/reviews-img/victoria-reviwes.png 1x,
          ./img/reviews-img/victoria-reviwes@2x.png 2x"
          width="56"
          height="56"
        />
        <p class="reviews-name">Victoria Romashenko</p>
        <p class="reviews-text">
          Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. 
          The build quality and attention to detail make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-img"
          src="./img/reviews-img/anastsia-reviwes.png"
          alt="Mark Guerrero"
          srcset="./img/reviews-img/anastsia-reviwes.png 1x,
          ./img/reviews-img/anastsia-reviwes@2x.png 2x"
          width="56"
          height="56"
        />
        <p class="reviews-name">Anastasia Trachuk</p>
        <p class="reviews-text">
          My watch from is a real masterpiece. Every detail impresses with the high quality of execution. 
          Special features like [specify features] make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
