<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-img"
          src="./img/reviews-img/john-reviews.png"
          alt="Mark Guerrero"
          srcset="./img/reviews-img/john-reviews.png x1,
          ./img/reviews-img/john-reviews@2x.png 2x"
          width="56"
          height="56"
        />
        <p class="reviews-name">John Wax</p>
        <p class="reviews-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-img"
          src="./img/reviews-img/victoria-reviwes.png"
          alt="Mark Guerrero"
          srcset="./img/reviews-img/victoria-reviwes.png x1,
          ./img/reviews-img/victoria-reviwes@2x.png 2x"
          width="56"
          height="56"
        />
        <p class="reviews-name">John Wax</p>
        <p class="reviews-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-img"
          src="./img/reviews-img/anastsia-reviwes.png"
          alt="Mark Guerrero"
          srcset="./img/reviews-img/anastsia-reviwes.png x1,
          ./img/reviews-img/anastsia-reviwes@2x.png 2x"
          width="56"
          height="56"
        />
        <p class="reviews-name">John Wax</p>
        <p class="reviews-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
    </ul>
  </div>
</section>
