


<section class="sale" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-wrapper">
      <div class="sale-img-block">
        <ul class="sale-list">
          <li class="sale-list-item">
            <picture>
              <source
                srcset="
                  ./img/sale-img/list-img-tab-1.png   1x,
                  ./img/sale-img/list-img-tab-1@2.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale-img/list-img-1.png   1x,
                  ./img/sale-img/list-img-1@2.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-list-img"
                src="./img/sale-img/list-img-tab-1.png"
                alt="watch"
                width="96"
                height="100"
              />
            </picture>
           
          </li>
          <li class="sale-list-item">
            <picture>
              <source
                srcset="
                  ./img/sale-img/list-img-tab-2.png   1x,
                  ./img/sale-img/list-img-tab-2@2.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale-img/list-img-2.png   1x,
                  ./img/sale-img/list-img-2@2.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-list-img"
                src="./img/sale-img/list-img-tab-2.png"
                alt="watch"
                width="96"
                height="100"
              />
            </picture>
          </li>
          <li class="sale-list-item">
            <picture>
              <source
                srcset="
                  ./img/sale-img/list-img-tab-3.png   1x,
                  ./img/sale-img/list-img-tab-3@2.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale-img/list-img-3.png   1x,
                  ./img/sale-img/list-img-3@2.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-list-img"
                src="./img/sale-img/list-img-tab-3.png"
                alt="watch"
                width="96"
                height="100"
              />
            </picture>
          </li>
          <li class="sale-list-item">
            <picture>
              <source
                srcset="
                  ./img/sale-img/list-img-tab-4.png   1x,
                  ./img/sale-img/list-img-tab-4@2.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale-img/list-img-4.png   1x,
                  ./img/sale-img/list-img-4@2.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sale-list-img"
                src="./img/sale-img/list-img-tab-4.png"
                alt="watch"
                width="96"
                height="100"
              />
            </picture>
          </li>
        </ul>
        <div class="sale-block">
          <picture>
            <source
              srcset="
                ./img/sale-img/block-img-tab.png   1x,
                ./img/sale-img/block-img-tab@2.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/sale-img/block-img.png   1x,
                ./img/sale-img/block-img@2.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="sale-block-img"
              src="./img/sale-img/block-img-tab.png"
              alt="watch"
              width="235"
              height="285"
            />
          </picture>
        </div>
      </div>
      <div class="sale-info">
        <h3 class="sale-info-title">
          MARQ<span>&#174;</span> Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-info-tag">Product tag: 706587</p>
        <div class="sale-info-price">
          <span class="sale-info-price-item">€1500</span>
          <span class="sale-info-price-item">€3000</span>
        </div>
        <p class="sali-info-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sali-info-list">
          <li class="sale-info-list-item">
            <p class="sale-info-list-text">Fused carbon fiber</p>
          </li>
          <li class="sale-info-list-item">
            <p class="sale-info-list-text">Grade-5 Titanuim</p>
          </li>
          <li class="sale-info-list-item">
            <p class="sale-info-list-text">Athlete</p>
          </li>
          <li class="sale-info-list-item">
            <p class="sale-info-list-text">Golfer</p>
          </li>
          <li class="sale-info-list-item">
            <p class="sale-info-list-text">Commander</p>
          </li>
          <li class="sale-info-list-item">
            <p class="sale-info-list-text">Adventurer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
