
   

.about-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-body {
    
}

.about-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;

    margin-bottom: 28px;
}

.about-box-txt {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 40px;
}

.about-first-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.about-second-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.about-btn {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;

    border-radius: 16px;
    background: #3350e9;
    width: 160px;
    height: 48px;

    border: none;
}