/* Reset styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy", sans-serif;

  background-color: #fff;
  color: #434455;
}

main {
  color: #0c0c0c;
  accent-color: #3350e9;
  background-color: #fbfbfb;
  
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

button {
  padding: 0;
  border: none;
  background: transparent;
  line-height: 0;
  cursor: pointer;
}



.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }
}